<?xml version="1.0"?>
<appSettings>
    <add key="web1" value="2.0.0.0" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="Live" value="Server=BNF-LDB\Roottrack;user id=udmtrx;password=target@d10;Database=DMTRX" />-->
	<!--WIN-926TDE9AU5M-->
	<add key="Live" value="Server=202.63.206.83\MSSQLSERVER14;user id=udmtrx;password=target**;Database=DMTRX" />
	
	<add key="aspnet:MaxHttpCollectionKeys" value="47483648" />
</appSettings>
