<div class="GeoFenceTreeArea">
    <div class="TreeOpen"></div>
    <div class="treeHead">
        <h3 class="left">Report Box</h3>
    </div>
    <div class="dataTrack">
        <a id="showFuelReport" class="left TBX_B_VRPT" href="#" title="Fuel Activity Report"><img src="~/Images/Toolbox/VehicleReports.png" /></a>
        <a id="showAssetActivityReport" href="#" class="right TBX_B_FRPT" title="Asset Activity Report"><img src="~/Images/Toolbox/FleetReport.png" /></a>
    </div>
    <div class="dataTrack">
        <a id="showMonthwiseStatisticsReport" href="#" class="left TBX_B_SRPT" title="Monthwise Statistics Report"><img src="~/Images/Toolbox/StartsStopReport.png"/></a>
        <a id="showDaliyDistanceReport" href="#" class="right TBX_B_DRPT" title="Asset Information Report"><img src="~/Images/Toolbox/DailyReport.png"/></a>
    </div>
    <div class="dataTrack">
        <a id="showPoiAdmin" href="#" class="left TBX_B_POI" title="POI Admin"><img src="~/Images/Toolbox/POIAdmin.png" /></a>
    </div>
    <!--<div class="dataTrack">
        <a id="showMontlySummaryReport" href="#" class="left TBX_B_MRPT" title="Monthly Report"><img src="~/Images/Toolbox/MonthlyReport.png" /></a>
        <a id="showAlertReport" href="#" class="right TBX_B_ARPT" title="Alert Report"><img src="~/Images/Toolbox/alertReport1.png" /></a>
    </div>
    <div class="dataTrack">
        <a id="showGeofenceAlertReport" href="#" class="left TBX_B_GRPT" title="Geofence Report"><img src="~/Images/Toolbox/GeofenceReport.png" /></a>
    </div>-->
</div>