<?xml version="1.0"?>
<appSettings>
    <add key="web1" value="2.0.0.0" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Live" value="Server=FUELGEX-PRI\PTCL_LDB;user id=administrator;password=!D0nTkN0w$$;Database=DMTRX" />
    <add key="aspnet:MaxHttpCollectionKeys" value="47483648" />
</appSettings>
