<div id="assetFinder" style="display: none">
    <table>
        <tr><td align="right">Map Date:</td>
            <td colspan="3"><input type="text" id="txtAFMapDate" style="width:90px"/> </td>
        </tr>
        <tr><td align="right">Time Range:</td>
            <td colspan="3">
                <input type="text" id="txtAFMapFromTime" style="width:58px"/>
                <input type="text" id="txtAFMapToTime" style="width:58px"/>
                <input type="button" id="btnShowAssetFinder" value="Find"/>
            </td>
        </tr>
    </table>
</div>