<div id="geoCoder" style="display: none">
    <table>
        <tr><td colspan="3">@Html.TextBox("geoCodeAddress", "", new { style = "width:350px" })</td></tr>
        <tr><td><input type="button" id="goToGeoCode" value="Go To Geo Code"/></td>
        <td><input type="button" id="getGeoCode" value="Get Geo Code"/></td>
        <td><input type="button" id="clearGeoCodePushpin" value="Clear Pushpin"/></td>
        </tr>
    </table>
</div>