<div id="lastCdr" class="ampleViewCurveDiv" style="width:95%; display: none;">
    <div class="ampleViewHeader"> Asset Status </div>
    <table style="font-size:11px; font-family:Arial, sans-serif;padding-left : 30px; " >
        <tr>
            <td id="tdpDeviceLabel" style="text-align:right; font-weight:bold"></td><td style="width:5px"></td><td id="tdpDeviceNo"></td>
        </tr>
        <tr>
            <td id="tdpDateLabel" style="text-align:right; font-weight:bold"></td><td style="width:5px"></td><td id="tdpDateVal"></td>
        </tr>
        <tr>
            <td id="tdpIgnitionLabel" style="text-align:right; font-weight:bold"></td><td style="width:5px"></td><td id="tdpIgnitionStatus"></td>
        </tr>
        <tr>
            <td id="tdpCompressorLabel" style="text-align:right; font-weight:bold"></td><td style="width:5px"></td><td id="tdpCompressorStatus"></td>
        </tr>
        <tr>
            <td id="tdpSpeedLabel" style="text-align:right; font-weight:bold"></td><td style="width:5px"></td><td id="tdpSpeedVal"></td>
        </tr>
        <tr>
            <td id="tdpBatteryLabel" style="text-align:right; font-weight:bold"></td><td style="width:5px"></td><td id="tdpBatteryVal"></td>
        </tr>
        <tr>
            <td id="tdpFuelQtyLabel" style="text-align:right; font-weight:bold"></td><td style="width:5px"></td><td id="tdpFuelQty"></td>
        </tr>
        <tr>
            <td id="tdpTempLabel" style="text-align:right; font-weight:bold"></td><td style="width:5px"></td><td id="tdpTempVal"></td>
        </tr>
        <tr>
            <td id="tdpLongiLabel" style="text-align:right; font-weight:bold"></td><td style="width:5px"></td><td id="tdpLongiVal"></td>
        </tr>
        <tr>
            <td id="tdpLatiLabel" style="text-align:right; font-weight:bold"></td><td style="width:5px"></td><td id="tdpLatiVal"></td>
        </tr>
        <tr>
            <td id="tdpLocationLabel" style="text-align:right; font-weight:bold"></td><td style="width:5px"></td><td id="tdpLocationVal"></td>
        </tr>
    </table>
</div>