<div id="measureTool" style="display: none">
    <div>
        <table>
            <tr><td colspan="4" style="text-align:center"><label style="font-weight:bold; font-size:12pt;font-family:Arial">Type:</label></td>
                <td colspan="4" style="text-align:center"><label style="font-weight:bold; font-size:12pt; font-family:Arial">Units:</label></td>
            </tr>
            <tr id="cTr">
                <td id="tddrawPolyLine" class="overlay" style="width: 32px;"><a href="#" id="drawPolyLine" title="Draw a polyline"> <img src="~/Images/toolBox/btn_drawPolyLine.png" /></a></td>
                <td id="tddrawCircle" class="overlay" style="width: 32px;"><a href="#" id="drawCircle" title="Draw a circle"> <img src="~/Images/toolBox/1362083097_stock_draw-circle.png" /></a></td>
                <td id="tddrawRectangle" class="overlay" style="width: 32px;"><a href="#" id="drawRectangle" title ="Draw a rectangle"> <img src="~/Images/toolBox/queryByRectengle.png" /></a></td>
                <td id="tddrawPolygon" class="overlay" style="width: 32px;"><a href="#" id="drawPolygon" title="Draw a polygon"> <img src="~/Images/toolBox/PolygonSetIcon.png" /></a></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;" id="tdMiles"><a href="#" id="miles" title="Calculate in Miles"><label style="font-size:12pt">Miles</label></a></td>
                <td colspan="2" style="width: 32px;background-color:#A5CFF7;" id="tdKilo"><a href="#" id="kilometer" title="Calculate in Kilometers"><label style="font-size:12pt">Kms</label></a></td>
            </tr>
            <tr><td colspan="8" style="text-align:right"><label id="lblTotlaDistance" style="font-weight:bold; font-size:12pt;font-family:Arial"></label></td></tr>
        </table>
    </div>
</div>