<div class="GeoFenceTreeArea">
    <div class="TreeOpen"></div>
    <div class="treeHead">
        <h3 class="left">Tool Box</h3>
        <!--<div class="right sticky"></div>-->
    </div>
    <div class="dataTrack">
        <a id="showBookMark" class="left TBX_A_BM" href="#" title="Bookmarks"><img src="~/Images/Toolbox/bookmark.png" /></a>
        <a id="showQueryByRectangle" class="right TBX_A_QR" href="#" title="Query by Rectangle"><img src="~/Images/Toolbox/queryByRectengle.png" /></a></div>
    <div class="dataTrack">
        <a id="showGeoFence" class="left TBX_A_GF" href="#" title="Geofences"><img src="~/Images/Toolbox/Geofence.png" /></a>
        <a id="showAlertMark" class="right TBX_A_AS" href="#" title="Alerts Subscription"><img src="~/Images/Toolbox/alertSubscription.png" /></a>
    </div>
    <div class="dataTrack">
        <a id="showLatLongLocator" class="left TBX_A_LL" href="#" title="Long/Lat Locator"><img src="~/Images/Toolbox/map1.png" /></a> 
        <a id="showMeasure" class="right TBX_A_ME" href="#" title="Measure" ><img src="~/Images/Toolbox/measure.png" /></a>
    </div>
    <div class="dataTrack">
        <a id="showMapLegend" href="#" class="left TBX_A_ML" title="Map Legend"><img src="~/Images/Toolbox/mapLegend.png" /></a> 
        <a id="showGeoCoder" class="right TBX_A_GC" href="#" title="Geo Code"><img src="~/Images/toolBox/geoCode.png" /></a>
    </div>
    <div class="reportSprt"></div>
    <div class="dataTrack">
        <a id="showVehicleReport" class="left TBX_B_VRPT" href="#" title="Vehicle Report"><img src="~/Images/Toolbox/VehicleReports.png" /></a>
        <a id="showFleetReport" href="#" class="right TBX_B_FRPT" title="Fuel Activity Report"><img src="~/Images/Toolbox/FleetReport.png" /></a>
    </div>
    <div class="dataTrack">
        <a id="showStartStopReport" href="#" class="left TBX_B_SRPT" title="Start/Stop Report"><img src="~/Images/Toolbox/StartsStopReport.png" /></a>
        <a id="showDaliyDistanceReport" href="#" class="right TBX_B_DRPT" title="Daily Distance Report"><img src="~/Images/Toolbox/DailyReport.png" /></a>
    </div>
    <div class="dataTrack">
        <a id="showMontlySummaryReport" href="#" class="left TBX_B_MRPT" title="Monthly Report"><img src="~/Images/Toolbox/MonthlyReport.png" /></a>
        <a id="showAlertReport" href="#" class="right TBX_B_ARPT" title="Alert Report"><img src="~/Images/Toolbox/alertReport1.png" /></a>
    </div>
    <div class="dataTrack">
        <a id="showGeofenceAlertReport" href="#" class="left TBX_B_GRPT" title="Geofence Report"><img src="~/Images/Toolbox/GeofenceReport.png" /></a>
        <a id="showSystemMessage" href="#" class="right TBX_B_SMSG" title="System Messages"><img src="~/Images/Toolbox/SystemMessage.png" /></a>
    </div>
    <div class="dataTrack">
        <a id="showDataFilter" href="#" class="left TBX_B_DFLT" title="Data Filter"><img src="~/Images/Toolbox/dataFilter.png" /></a>
        <a id="showFeatureList" class="right TBX_B_ATRE" href="#" title="Assets Tree" ><img src="~/Images/Toolbox/featureList.png" /></a>
    </div>
    <div class="dataTrack">
        <a id="showPoiAdmin" href="#" class="left TBX_B_POI" title="POI Admin"><img src="~/Images/Toolbox/POIAdmin.png" /></a>
        <a id="clearGraphics" href="#" class="right TBX_B_CLG" title="Clear Graphics"><img src="~/Images/Toolbox/recyclebin_empty_24.png" /></a>
    </div>
</div>